body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 350px;
  height: 500px;
  background-color: black;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
}

.info {
  color: white;
  font-weight: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.profilePicture {
  width: 350px;
  height: 200px;
  aspect-ratio: 1;
  align-self: start;
  border-radius: 5px;
}

.intro h1 {
  font-weight: 100%;
  margin-top:3px;
}

.intro {
  align: justify;
  margin-top:3px;
}

.skillList {
  margin-bottom:10px;
}

.skillList li {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width:100px;
  background-color: gold;
  color: black;
  padding: 2px;
  border-radius: 3px;
  margin-right: 12px;
  margin-bottom:3px;
  word-wrap: break-word;
  display: inline-block;
}
